@namespace DoorData.FrontEnd.Components

<div style="padding: 10px; border-bottom: 1px solid #C0C0C0; display: flex;">
    <span class="navbar-brand">DoorData</span>
    <NavLink class="nav-link" href="Last1000">Last 1000 events</NavLink>
    <NavLink class="nav-link" href="Last24hours">Last 24 hours</NavLink>
    <NavLink class="nav-link" href="Last7days">Last 7 Days</NavLink>
    <NavLink class="nav-link" href="Last30days">Last 30 Days</NavLink>
</div>